<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.cortland.semaphore.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="xyz.cortland.semaphore.android.SemaphoreApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name="xyz.cortland.semaphore.android.receivers.ActivityPlaybackReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="activityModel.stop" />
                <action android:name="activityModel.pause" />
                <action android:name="activityModel.resume" />
            </intent-filter>
        </receiver>
        <activity
            android:name="xyz.cortland.semaphore.android.activities.ActivityListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="xyz.cortland.semaphore.android.activities.ActivityDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="xyz.cortland.semaphore.android.activities.ActivityListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.cortland.semaphore.android.activities.ActivityListActivity" />
        </activity>
        <activity
            android:name="xyz.cortland.semaphore.android.activities.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="xyz.cortland.semaphore.android.activities.ActivityListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <receiver
            android:name="xyz.cortland.semaphore.android.receivers.ActivityFinishedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="playingall.activityModel.finished" />
            </intent-filter>
        </receiver>
    </application>

</manifest>